@font-face {
  font-family: Rouble; /* Гарнитура шрифта */
  src: url("../font/rouble.ttf"); /* Путь к файлу со шрифтом */
}

body {
  color: @color-text;
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;

  .table {
    margin: 0;
    display: table;
    height: 100%;
    width: 100%;

    .table_cell {
      display: table-cell;
      vertical-align: middle;
      /*text-align: center;*/
      height: 100%;
      width: 100%;
    }
  }

  .main {
    text-align: center;
    width: 100%;
    color: @color-accent;
    background: url("../img/main_img.png") 0 0 no-repeat;
    background-size: cover;
    background-attachment: fixed;



      h1 {
        font-weight: 500;
        font-size: 56px;
        letter-spacing: 3px;
        margin: 10px;
        text-transform: uppercase;
      }

      p {
        font-size: 16px;
        letter-spacing: 2px;
        margin: 0;
      }

  }

  .about {
    padding: 68px 0 104px;
    text-align: center;
    background: rgba(240, 240, 240, 0.27);

    .about_pluses {
      padding: 25px 15px 0;
    }

    h3 {
      text-transform: uppercase;
      font-size: 40px;
    }

    .about_pluses_thesis {
      span {
        vertical-align: middle;
      }

      .about_icon {
        display: inline-block;
        width: 35px;
        height: 35px;
        margin-right: 5px;
        vertical-align: middle;
        background: url("../img/beauty.png") no-repeat;
      }

      .about_icon-dryer {
        background-position: -29px -25px;
      }

      .about_icon-comb {
        background-position: -294px -70px;
      }

      .about_icon-mascara {
        background-position: -200px -20px;
      }

      .about_icon-mirror {
        background-position: -249px -70px;
      }

      .about_icon-lips {
        background-position: -390px -163px;
      }

      .about_icon-spirits {
        background-position: -71px -70px;
      }
    }

    .about_pluses_description {

    }
  }

  .price {
    background: @color-main;
    color: @color-accent;
    padding: 68px 0 104px;
    text-align: center;

    h3 {
      text-transform: uppercase;
      font-size: 56px;
    }

    .price_services {
      padding: 25px 15px 0;

      h4 {
        text-transform: uppercase;
        font-size: 14px;
      }

      .price_services_cost {
        font-size: 40px;
        margin: 0;
        line-height: 40px;
        padding: 20px 0;

        span {
          font-family: Rouble;
        }
      }

      .price_services_description {
        color: #81798f;
        border-top: 1px solid #81798f;
        padding: 25px 0;
        text-align: justify;
      }

      button {
        border: 2px solid @color-accent;
        color: @color-accent;
        background-color: transparent;
        text-transform: uppercase;
        padding: 12px 32px;
        font-size: 11px;
      }

      button:hover,
      button:focus{
        border: 2px solid @color-accent;
        color: @color-main;
        background-color: @color-accent;
        outline: none;
      }
    }

    .table {
      display: none;
      color: @color-text;

      .purple {
        background: #E9DFF0;
        padding: 10px;
      }

      .beige {
        background: #FFFEEC;
        padding: 10px;
      }
    }
  }

  .work {
    padding: 68px 0 104px;
    text-align: center;
    background: rgba(240, 240, 240, 0.27);

    h3 {
      text-transform: uppercase;
      font-size: 40px;
      margin-bottom: 45px;
    }

    .grid-item {
      padding: 10px;
    }

    img {
      width: 100%;
    }
  }
  
  .contacts {
    background: url("../img/cont_img.png") 50%;
    background-attachment: fixed;
    background-size: cover;
    text-align: left;
    padding: 104px 0;

    .col-md-10,
    .col-md-7 {
      padding: 0;
    }

    .col-md-5 {
      padding: 70px 50px;
    }

    .contacts_content {
      background: rgba(255, 255, 255, 0.7);
    }

    .map {
      height: 75vh;
    }
  }

  .footer {
    background: #302540;
    text-transform: uppercase;
    padding: 30px 0;

    .footer_name a,
    .footer_social a{
      font-size: 10px;
      letter-spacing: 1px;
      font-weight: 700;
      color: @color-accent;
    }

    .footer_name a:hover,
    .footer_social a:hover {
      text-decoration: none;
    }

    .footer_social {
      text-align: right;


    }
  }
}
