body {
  color: @color-text;
  font-family:  "Helvetica Neue",Helvetica,Arial,sans-serif;

  .header {
    .navbar.navbar-inverse.navbar-fixed-top { //bootstrap
      background: @color-accent;
    }

    .navbar-inverse .navbar-toggle { //bootstrap
      background: #563d7c;
    }

    .navbar-inverse .navbar-brand { //bootstrap
      color: @color-main;
    }

    .header_phone {
      display: inline-block;
      color: #563d7c;
      padding-top: 15px;
    }

    .navbar-inverse .navbar-brand:hover,
    .navbar-inverse .navbar-brand:focus { //bootstrap
      color: @color-accent;
      background-color: transparent;
    }

    .navbar-inverse .navbar-nav>li>a { //bootstrap
      color: #563d7c;
    }

    .navbar-inverse .navbar-nav>li>a:hover, //bootstrap
    .navbar-inverse .navbar-nav>.active>a{
      background: #f9f9f9;
    }
  }
  
  .main {
    text-align: center;
    min-height: 550px;
    width: 100%;
    color: @color-accent;
    background: url("../img/main_img.png") 0 0 no-repeat;
    background-size: cover;
    display: table;

    .main_content {
      display: table-cell;
      vertical-align: middle;
      text-transform: uppercase;

      h1 {
        font-weight: 500;
        font-size: 56px;
        letter-spacing: 3px;
        margin: 10px;
      }

      p {
        font-size: 16px;
        letter-spacing: 2px;
        margin: 0;
      }
    }
  }
}