body {
  @media screen and (max-width: 768px) {
    .header {
      .header_phone {
        padding: 0 15px 10px;
      }
    }

    .main {
      background: url("../img/ipad_main.png") 0 0 no-repeat;
      background-size: cover;
    }

    .price {
      .price_services .price_services_description {
        text-align: center;
      }
    }

    .footer {
      .footer_name {
        text-align: center;
      }

      .footer_social {
        text-align: center;
      }
    }
  }

  @media screen and (max-width: 480px) {

    .main {
      background: url("../img/mobile_main.png") 0 0 no-repeat;
      background-size: cover;

      h1 {
        font-size: 30px;
      }
    }
  }
}